<strong>How long does shipping take?</strong>
<br><br>
<strong>For Hand Drawn</strong> - Our team of artists works as fast as they can. Usually, it takes us 2-3 business days to process your order and create the artwork. Shipping takes another 5-7 business days on average. 
<br><br><strong>For Build Your Own</strong> - Order processing takes 1-2 days and shipping takes another 5-7 business days for final delivery. <br><br>
Please note that processing and shipping times CAN vary during busy seasonal periods (1-3 weeks before holidays)
ATTENTION:To ensure the efficient and timely delivery of your order, we want to clarify that we do not offer or send artwork previews or proofs for any of our Build Your Own Card products. The preview you see when placing your order before adding to cart will be printed exactly as it appears.

*PLEASE NOTE:Shipping may be impacted by carrier delays.
<p>If you are ordering a canvas, we will send you an email about your final image. <strong>It is required to be approved within the 48 hours. If it is not approved by then, we print your final image and ship your canvas!</strong><span> </span><span style="color: #000000;">Additional charges will apply for revision request after the 48 hour approval time frame, if your canvas was shipped we can provide a reprint of the approved revisioned artwork at a 40% discount. </span>Shipping takes another 7-14 business days on average. </p>
<p><strong>What is Shipping Insurance?</strong></p>
<p>This is an additional option that is offered at an additional cost which varies between $3.99-$7.99. </p>
<p>     <strong><span> </span>What is covered:</strong></p>
<ul>
<li><strong>Lost in Transit</strong>: Due to carrier delays we consider lost in transit after 12 business days of no tracking update on the Website.</li>
<li><strong>Delivered, Not Received: </strong><strong></strong>This is in the case your order shows it was; however, you did not receive it. (We<span> </span>ONLY approve this coverage after opening an<span> </span>investigation with the carrier and results in the carriers fault ex: delivered to the wrong address)</li>
<li><strong>Damaged: </strong>Damages due to shipping handling</li>
</ul>
<p> </p>
<p><strong>What currency are prices in?</strong></p>
<p>All prices on our store are denominated in USD.</p>
<p> </p>
<p><strong>How is the portrait sent?</strong></p>
<p>Your portrait will be sent digitally via email in a high-resolution format, ready to print on a mug, t-shirt, or any item you choose.
If you selected the Canvas/Metal Card/Blanket print option, it will be shipped to your address using a reliable courier, such as Australia Post, FedEx, USPS or DHL. Expect delivery within 5-7 business days after shipping.
Once your printed order is ready to ship you will receive a shipping confirmation email together with the tracking details so you can monitor its delivery. </p>
<p> </p>
<p><strong>What if I am not happy with my portrait</strong>?</p>
<p>Our artists are incredibly talented and always do an amazing job, however, sometimes working from a photo we miss the essence of the person. We are ready to make the revisions you need! There is a limit up to 2 free revisions. After the 2nd revision, depending on the changes, we do charge case by case.</p>
<p> </p>
<p><strong>What can I have as my background?</strong></p>
<p>Whatever you want! You just let us know your idea and we will make it happen.</p>
<p> </p>
<p><strong>Can I do whatever I want with my portrait?</strong></p>
<p>Yes, absolutely, unlike some we put no restrictions on your portrait, it’s yours to do whatever you want with.</p>
<p> </p>
<p><strong>Can you work from more than one photo?</strong></p>
<p>The more photos the better! Just make sure you’re clear about how you’d like your illustration drawn in the picture description and leave the rest up to us </p>
<p> </p>
<p><strong>What quality should the photo I send to you be?</strong></p>
<p>The better quality the photo the easier it will be for our artists to get a more accurate illustration of you on the other side. But don’t worry, we’ll let you know if we’re having any issues.</p>
<p><strong>  </strong></p>
<p><strong>I have a large group I need doing?</strong></p>
<p>No problem just drop us an email and we can discuss large jobs.</p>
<p> </p>
<p><strong>Will I be charged for changes to my order after it's been made?</strong></p>
<p>It is the customer's responsibility to specify all details they would like in their order in the order notes. Any details not included in the order notes will be assumed by our artist and will result in additional charges if the customer requires changes.</p>
<p>There will be a charge for changes up until the 3rd revision request. Prices may vary depending on the request.</p>
<p> </p>
<p><strong>Do you ship orders to the UK &amp; EU? If so, how will orders be shipped?</strong></p>
<p>Yes, we ship to the UK &amp; EU. To get your order to you, we've partnered with Passport Shipping and they will be the Seller for all orders to the UK for orders under £135 and orders to the EU for orders €150 and Under.</p>
<h3><strong> Poke Pet Blankets</strong></h3>
<meta charset="utf-8" />
<p>Everyone has their favorite blankie, if not—this will be it. It comes in one size, 60x50 inches. The 2" stitch makes sure the blanket's borders stay intact. It's made from a super-soft fleece that'll be decorated with your eye-catching designs in picture-perfect quality.</p>
<p>.: <strong>Material:</strong> 100% polyester<br />.: <strong>Size:</strong> 30 x 40 inches<br />.: <strong>One-sided print</strong><br />.: 2" stitched edge</p>
<p><strong> </strong></p>